body{
    font-family: 'Open Sans', sans-serif;;
}

.Navigation {
    width: fit-content;
    display:flex;
    float: right;
    margin-right: 50px;
}

.Image {
justify-content: center;
display: flex;
align-items: center;
max-width: fit-content;
}




.container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.card body{
    padding-bottom: 200px;
}




.container h2 {
    font-size: 25px;
    font-weight: 300;
    background-color: none;
}

h2 {
    font-size: 1000px;
}

p {
    font-size: 16px;
}

ul {
    list-style: none;
    justify-content: space-between,
}

.projectTitle {
    padding-top: 75px;
    min-width: auto;
    font-size: 120px;
    font-weight: 200;
    
}
.subTitle {
    padding-top: 45px;
    font-size: 20px;
    justify-content: space-between;
    color: rgb(131, 131, 131);
}




